@page "/listbox/dragdrop/between-listboxes"

<link rel="stylesheet" href="css/listbox/dragdrop/ListBoxDragDropTwoListBoxes.css?version=24.3.0" />

<h2>ListBox / Drag Drop between ListBoxes</h2>
<div class="sample-block">
    <IntegralUIListBox Id="listbox-1" TItem="CustomItem"
                       AllowDrag="@allowDrag"
                       AllowDrop="@allowDrop"
                       Items="@items"
                       SelectionMode="IntegralUISelectionMode.MultiExtended"
                       Size="@ctrlSize">
    </IntegralUIListBox>
    <IntegralUIListBox Id="listbox-2" TItem="CustomItem"
                       AllowDrag="@allowDrag2"
                       AllowDrop="@allowDrop2"
                       Items="@items2"
                       SelectionMode="IntegralUISelectionMode.MultiExtended"
                       Size="@ctrlSize">
    </IntegralUIListBox>
    <br style="clear:both;" />
    <div class="sample-block-listbox-dragdrop-two-lists" style="">
        <div style="margin-right:30px" align="center">
            <IntegralUICheckBox @bind-Checked="@allowDrag">Allow Drag</IntegralUICheckBox>
            <IntegralUICheckBox @bind-Checked="@allowDrop">Allow Drop</IntegralUICheckBox>
        </div>
        <div align="center">
            <IntegralUICheckBox @bind-Checked="@allowDrag2">Allow Drag</IntegralUICheckBox>
            <IntegralUICheckBox @bind-Checked="@allowDrop2">Allow Drop</IntegralUICheckBox>
        </div>
        <br style="clear:both;" />
    </div>
    <div class="feature-help">
        <p><span class="initial-space"></span>In this sample you can drag drop items between two ListBox components. The Dynamic drag and drop is active, which means when one or more items are dragged all other items will move and show the target position at which dragged items can drop.</p>
        <p><span class="initial-space"></span>To create a copy of a dragged item(s), holding the SHIFT key just before item(s) are dropped.</p>
        <p><span class="initial-space"></span>By clicking on check boxes, you can change these properties:</p>
        <ul class="feature-points">
            <li><span class="code-name">AllowDrag</span> - determines whether item(s) can be dragged</li>
            <li><span class="code-name">AllowDrop</span> - determines whether item(s) can be dropped</li>
        </ul>
    </div>
</div>

@code {

    public class CustomItem
    {
        public string? Id { get; set; }
        public string? Genre { get; set; }
        public double Rating { get; set; }
        public bool Selected { get; set; } = false;
        public string? Text { get; set; }
        public int Year { get; set; }
    }

    public IntegralUISize ctrlSize = new() { Width = 350, Height = 400 };
    public string currentGroupBy = "";

    public List<CustomItem> items = new()
    {
        new CustomItem { Id = "1", Genre = "Sci-Fi", Text = "Star Trek", Year = 2009, Rating = 8 },
        new CustomItem { Id = "2", Genre = "Adventure", Text = "Cast Away", Year = 2000, Rating = 7 },
        new CustomItem { Id = "3", Genre = "Action", Text = "Gladiator", Year = 2000, Rating = 8 },
        new CustomItem { Id = "4", Genre = "Drama", Text = "Malèna", Year = 2000, Rating = 7 },
        new CustomItem { Id = "5", Genre = "Music", Text = "Moulin Rouge", Year = 2001, Rating = 7 },
        new CustomItem { Id = "6", Genre = "Comedy", Text = "Snatch", Year = 2000, Rating = 8 },
        new CustomItem { Id = "7", Genre = "Biography", Text = "A Beautiful Mind", Year = 2001, Rating = 8 },
        new CustomItem { Id = "8", Genre = "Crime", Text = "Black Hawk Down", Year = 2001, Rating = 7 },
        new CustomItem { Id = "9", Genre = "Western", Text = "Django Unchained", Year = 2012, Rating = 8 },
        new CustomItem { Id = "10", Genre = "Sci-Fi", Text = "Man of Steel", Year = 2013, Rating = 7 },
        new CustomItem { Id = "11", Genre = "Horror", Text = "The Ring", Year = 2002, Rating = 7 },
        new CustomItem { Id = "12", Genre = "Romance", Text = "40 Days and 40 Nights", Year = 2002, Rating = 5 },
        new CustomItem { Id = "13", Genre = "Sci-Fi", Text = "Minority Report", Year = 2002, Rating = 7 },
        new CustomItem { Id = "14", Genre = "Comedy", Text = "Scary Movie 3", Year = 2003, Rating = 5 },
        new CustomItem { Id = "15", Genre = "Music", Text = "Walk the Line", Year = 2005, Rating = 7 }
    };

    public List<CustomItem> items2 = new()
    {
        new CustomItem { Id = "16", Genre = "Romance", Text = "How to Lose a Guy in 10 Days", Year = 2003, Rating = 6 },
        new CustomItem { Id = "17", Genre = "Crime", Text = "The Dark Knight", Year = 2008, Rating = 9 },
        new CustomItem { Id = "18", Genre = "Horror", Text = "American Psycho", Year = 2000, Rating = 7 },
        new CustomItem { Id = "19", Genre = "Drama", Text = "The Grand Budapest Hotel", Year = 2014, Rating = 8 },
        new CustomItem { Id = "20", Genre = "Comedy", Text = "The Wolf of Wall Street", Year = 2013, Rating = 8 }
    };

    // Control PaneL
    public bool allowDrag = true;
    public bool allowDrop = true;

    public bool allowDrag2 = true;
    public bool allowDrop2 = true;
}
