@page "/listbox/overview"

<link rel="stylesheet" href="css/listbox/ListBoxOverview.css?version=24.3.0" />

<h2>ListBox / Overview</h2>
<div class="sample-block">
    <IntegralUIListBox @ref=listRef Id="listbox-overview" TItem="CustomItem"
        AllowDrag="@allowDrag"
        AllowDrop="@allowDrop"
        GroupBy="@currentGroupBy"
        Items="@items"
        MouseWheelSpeed="IntegralUISpeedMode.VerySlow"
        ScrollAppearance="@currentScrollAppearance"
        SelectionMode="@IntegralUISelectionMode.MultiExtended"
        ShowGroups="@showInGroups"
        Size="@ctrlSize">
        <ItemTemplate>
            <span class="@getIconClass(@context.Item)"></span>
            <span>@context.Item?.Text</span>
        </ItemTemplate>
    </IntegralUIListBox>
    <div class="sample-block-ddlb-control-panel">
        <IntegralUICheckBox @bind-Checked="@allowDrag">Allow Drag</IntegralUICheckBox>
        <IntegralUICheckBox @bind-Checked="@allowDrop">Allow Drop</IntegralUICheckBox>
        <IntegralUICheckBox Checked="@showInGroups" CheckedChanged="@showInGroupsChanged">Show in Groups</IntegralUICheckBox>
    </div>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> ListBox</strong> is a Blazor Component that represents a list of custom HTML elements that you can reorder dynamically during run-time using drag drop operations.</p>
        <p><span class="initial-space"></span>In this sample you can drag drop items within the ListBox component. A window with a list of dragged items appears and while dragging it all other items will move making space where items can drop.</p>
        <p><span class="initial-space"></span>By clicking on check boxes, you can change the built-in properties:</p>
        <ul class="feature-points">
            <li><span class="code-name">allowDrag</span> - determines whether items can be dragged</li>
            <li><span class="code-name">allowDrop</span> - determines whether items can be dropped</li>
            <li><span class="code-name">showGroups</span> - determines whether items are displayed n groups</li>
        </ul>
    </div>
</div>

@code {
    private IntegralUIListBox<CustomItem>? listRef;

    public class CustomItem
    {
        public string? Id { get; set; }
        public string? Genre { get; set; }
        public double Rating { get; set; }
        public bool Selected { get; set; } = false;
        public string? Text { get; set; }
        public int Year { get; set; }
    }

    public IntegralUISize ctrlSize = new() { Width = 350, Height = 300 };
    public string currentGroupBy = "";
    public IntegralUIComponentAppearance currentScrollAppearance = IntegralUIComponentAppearance.Static;

    public List<CustomItem> items = new()
    {
        new CustomItem { Id = "1", Genre = "Sci-Fi", Text = "Star Trek", Year = 2009, Rating = 8 },
        new CustomItem { Id = "2", Genre = "Adventure", Text = "Cast Away", Year = 2000, Rating = 7 },
        new CustomItem { Id = "3", Genre = "Action", Text = "Gladiator", Year = 2000, Rating = 8 },
        new CustomItem { Id = "4", Genre = "Drama", Text = "Malèna", Year = 2000, Rating = 7 },
        new CustomItem { Id = "5", Genre = "Music", Text = "Moulin Rouge", Year = 2001, Rating = 7 },
        new CustomItem { Id = "6", Genre = "Comedy", Text = "Snatch", Year = 2000, Rating = 8 },
        new CustomItem { Id = "7", Genre = "Biography", Text = "A Beautiful Mind", Year = 2001, Rating = 8 },
        new CustomItem { Id = "8", Genre = "Crime", Text = "Black Hawk Down", Year = 2001, Rating = 7 },
        new CustomItem { Id = "9", Genre = "Western", Text = "Django Unchained", Year = 2012, Rating = 8 },
        new CustomItem { Id = "10", Genre = "Sci-Fi", Text = "Man of Steel", Year = 2013, Rating = 7 },
        new CustomItem { Id = "11", Genre = "Horror", Text = "The Ring", Year = 2002, Rating = 7 },
        new CustomItem { Id = "12", Genre = "Romance", Text = "40 Days and 40 Nights", Year = 2002, Rating = 5 },
        new CustomItem { Id = "13", Genre = "Sci-Fi", Text = "Minority Report", Year = 2002, Rating = 7 },
        new CustomItem { Id = "14", Genre = "Comedy", Text = "Scary Movie 3", Year = 2003, Rating = 5 },
        new CustomItem { Id = "15", Genre = "Music", Text = "Walk the Line", Year = 2005, Rating = 7 },
        new CustomItem { Id = "16", Genre = "Romance", Text = "How to Lose a Guy in 10 Days", Year = 2003, Rating = 6 },
        new CustomItem { Id = "17", Genre = "Crime", Text = "The Dark Knight", Year = 2008, Rating = 9 },
        new CustomItem { Id = "18", Genre = "Horror", Text = "American Psycho", Year = 2000, Rating = 7 },
        new CustomItem { Id = "19", Genre = "Drama", Text = "The Grand Budapest Hotel", Year = 2014, Rating = 8 },
        new CustomItem { Id = "20", Genre = "Comedy", Text = "The Wolf of Wall Street", Year = 2013, Rating = 8 }
    };

    // Control PaneL
    public bool allowDrag = true;
    public bool allowDrop = true;
    public bool showInGroups = false;

    // Events ----------------------------------------------------------------------------------------------------------------

    private void allowDragChanged(bool value)
    {
        allowDrag = value;
    }

    private void allowDropChanged(bool value)
    {
        allowDrop = value;
    }

    private void showInGroupsChanged(bool value)
    {
        showInGroups = value;
        currentGroupBy = showInGroups ? "Genre" : "";
    }

    // Styling ---------------------------------------------------------------------------------------------------------------

    private string getIconClass(CustomItem? item)
    {
        string className = "lbox-ovw-icons";

        if (item is not null)
        {
            if (!string.IsNullOrEmpty(item.Genre))
                className += $" {item.Genre.ToLower()}";
        }

        return className;
    }

}
