@page "/listview/overview"

<link rel="stylesheet" href="css/listview/ListViewOverview.css?version=24.3.0" />

<h2>ListView / Overview</h2>
<div class="sample-block">
    <IntegralUIListView Id="listview-appearance" Items="@itemList" TItem="CustomItem" ItemSize="@itemSize" ShowFooter="false" Size="@ctrlSize" View="@currentAppearance">
        <Columns>
            <IntegralUIListViewColumn Field=@nameof(CustomItem.Name) HeaderText="Name" Width="350"></IntegralUIListViewColumn>
            <IntegralUIListViewColumn Field=@nameof(CustomItem.Genre) HeaderText="Genre" ContentAlignment="IntegralUIHorizontalAlignment.Center" HeaderAlignment="IntegralUIHorizontalAlignment.Center" Width="250"></IntegralUIListViewColumn>
            <IntegralUIListViewColumn Field=@nameof(CustomItem.Year) HeaderText="Year" ContentAlignment="IntegralUIHorizontalAlignment.Center" HeaderAlignment="IntegralUIHorizontalAlignment.Center" Width="150"></IntegralUIListViewColumn>
            <IntegralUIListViewColumn Field=@nameof(CustomItem.Rating) HeaderText="Rating" ContentAlignment="IntegralUIHorizontalAlignment.Center" HeaderAlignment="IntegralUIHorizontalAlignment.Center"></IntegralUIListViewColumn>
        </Columns>
        <ItemCellTemplate>
            @if (@context.Cell?.Field == "Name")
            {
                <span class="@getIconClass(@context.Item)"></span>
                <span class="lvw-apprnce-item-label">@context.Cell?.Value</span>
            }
            else
            {
                <span class="lvw-apprnce-cell-label">@context.Cell?.Value</span>
            }
        </ItemCellTemplate>
        <ItemTemplate>
            <span class="@getIconClass(@context.Item)"></span>
            <span class="lvw-apprnce-item-label">@context.Item?.Name</span>
        </ItemTemplate>
    </IntegralUIListView>
    <div class="listview-appearance-panel">
        <label>View: </label>
        <IntegralUIRadioGroup SelectedIndex="@selOptionIndex" CheckedChanged="@appearanceChecked">
            <IntegralUIRadioButton>Details</IntegralUIRadioButton>
            <IntegralUIRadioButton>Horizontal</IntegralUIRadioButton>
            <IntegralUIRadioButton>Vertical</IntegralUIRadioButton>
        </IntegralUIRadioGroup>
    </div>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> ListView</strong> is a Blazor Component that displays list of items in different views: Details, Horizontal or Vertical. You can load data on demand during run-time from local or remote data sources, and add custom HTML content in each item.</p>
        <p><span class="initial-space"></span>A demonstration of different views available in ListView component. You can change the current view, by selecting a different option. There are three acceptable values:</p>
        <ul class="feature-points">
            <li><span class="code-object">Details</span> - a table view that shows more details for each item</li>
            <li><span class="code-object">Horizontal</span> - a view where items are arranged in columns with horizontal scrolling</li>
            <li><span class="code-object">Vertical</span> - a view where items are arranged in rows with vertical scrolling</li>
        </ul>
        <p><span class="initial-space"></span>You can add any custom HTML elements or other Blazor components by using custom templates. In this case, each item displays an icon and label. For Details view, you can create custom template for each cell.</p>
        <p><span class="initial-space"></span>In addition, header and footer also allows use of custom templates. In this example, the header displays only a column name and footer is hidden.</p>
    </div>
</div>

@code {

    public IntegralUISize ctrlSize = new() { Height = 300 };
    public IntegralUIListViewAppearance currentAppearance = IntegralUIListViewAppearance.Details;
    public IntegralUISize itemSize = new() { Width = 200, Height = 38 };

    private class CustomItem
    {
        public string? ColumnId { get; set; }
        public string? Icon { get; set; }
        public string? Id { get; set; }
        public List<CustomItem> Items { get; set; } = [];
        public string? Name { get; set; }
        public string? Genre { get; set; }
        public double Rating { get; set; }
        public bool Selected { get; set; } = false;
        public object? Value { get; set; }
        public int Year { get; set; }
    }

    private List<CustomItem> itemList = new()
    {
        new CustomItem
        { 
            Id = "1", 
            Icon = "sci-fi",
            Name = "Star Trek",
            Genre = "Sci-Fi",
            Year = 2009,
            Rating = 8
        },
        new CustomItem
        {
            Id = "2",
            Icon = "adventure",
            Name = "Cast Away",
            Genre = "Adventure",
            Year = 2000,
            Rating = 7
        },
        new CustomItem
        {
            Id = "3",
            Icon = "action",
            Name = "Gladiator",
            Genre = "Action",
            Year = 2000,
            Rating = 8
        },
        new CustomItem
        {
            Id = "4",
            Icon = "drama",
            Name = "Malèna",
            Genre = "Drama",
            Year = 2000,
            Rating = 7
        },
        new CustomItem
        {
            Id = "5",
            Icon = "music",
            Name = "Moulin Rouge",
            Genre = "Action",
            Year = 2001,
            Rating = 7
        },
        new CustomItem
        {
            Id = "6",
            Icon = "comedy",
            Name = "Snatch",
            Genre = "Comedy",
            Year = 2000,
            Rating = 8
        },
        new CustomItem
        {
            Id = "7",
            Icon = "biography",
            Name = "A Beautiful Mind",
            Genre = "Biography",
            Year = 2001,
            Rating = 8
        },
        new CustomItem
        {
            Id = "8",
            Icon = "crime",
            Name = "Black Hawk Down",
            Genre = "Crime",
            Year = 2001,
            Rating = 7
        },
        new CustomItem
        {
            Id = "9",
            Icon = "western",
            Name = "Django Unchained",
            Genre = "Western",
            Year = 2012,
            Rating = 8
        },
        new CustomItem
        {
            Id = "10",
            Icon = "sci-fi",
            Name = "Man of Steel",
            Genre = "Sci-Fi",
            Year = 2013,
            Rating = 7
        },
        new CustomItem
        {
            Id = "11",
            Icon = "horror",
            Name = "The Ring",
            Genre = "Horror",
            Year = 2002,
            Rating = 7
        },
        new CustomItem
        {
            Id = "12",
            Icon = "romance",
            Name = "40 Days and 40 Nights",
            Genre = "Romance",
            Year = 2002,
            Rating = 5
        },
        new CustomItem
        {
            Id = "13",
            Icon = "sci-fi",
            Name = "Minority Report",
            Genre = "Sci-Fi",
            Year = 2002,
            Rating = 7
        },
        new CustomItem
        {
            Id = "14",
            Icon = "comedy",
            Name = "Scary Movie 3",
            Genre = "Comedy",
            Year = 2003,
            Rating = 5
        },
        new CustomItem
        {
            Id = "15",
            Icon = "music",
            Name = "Walk the Line",
            Genre = "Music",
            Year = 2005,
            Rating = 7
        },
        new CustomItem
        {
            Id = "16",
            Icon = "romance",
            Name = "How to Lose a Guy in 10 Days",
            Genre = "Romance",
            Year = 2003,
            Rating = 6
        },
        new CustomItem
        {
            Id = "17",
            Icon = "crime",
            Name = "The Dark Knight",
            Genre = "Crime",
            Year = 2008,
            Rating = 9
        },
        new CustomItem
        {
            Id = "18",
            Icon = "horror",
            Name = "American Psycho",
            Genre = "Horror",
            Year = 2000,
            Rating = 7
        },
        new CustomItem
        {
            Id = "19",
            Icon = "drama",
            Name = "The Grand Budapest Hotel",
            Genre = "Drama",
            Year = 2014,
            Rating = 8
        },
        new CustomItem
        {
            Id = "20",
            Icon = "comedy",
            Name = "The Wolf of Wall Street",
            Genre = "Comedy",
            Year = 2013,
            Rating = 8
        }
    };

    // Control Panel
    public int selOptionIndex = 0;

    // Events ----------------------------------------------------------------------------------------------------------------

    public void appearanceChecked(IntegralUIButtonEventArgs e)
    {
        selOptionIndex = e.Index;

        switch (selOptionIndex)
        {
            case 1:
                currentAppearance = IntegralUIListViewAppearance.Horizontal;
                break;

            case 2:
                currentAppearance = IntegralUIListViewAppearance.Vertical;
                break;

            default:
                currentAppearance = IntegralUIListViewAppearance.Details;
                break;
        }
    }

    // Styling ---------------------------------------------------------------------------------------------------------------

    private string getIconClass(CustomItem? item)
    {
        string className = "lvw-apprnce-icons";

        if (item is not null)
        {
            if (!string.IsNullOrEmpty(item.Icon))
                className += $" {item.Icon}";
        }

        return className;
    }
}
